@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: none;
    color: #1d1d1d;
    font-family: "Roboto Slab", serif;
    font-size: 19px;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #9379c4;
    text-decoration-style: dashed;
}

blockquote {
    background-color: rgba(213, 202, 235, 0.6);
    border-radius: 10px;
    padding: 20px;
}

.codehilite *, code {
    font-family: "JetBrains Mono", serif;
    overflow-y: hidden;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.codehilite pre {
    background-color: rgba(213, 202, 235, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.btn-purple {
    border: 1px solid none;
    background-color: #9379c4 ;
    color: #fff;
}

.btn-purple:hover {
    border: 1px solid #9379c4;
    background: none;
    color: #9379c4;
}

.btn-outline-purple {
    border: 1px solid #9379c4;
    background: none;
    color: #9379c4;
}

.btn-outline-purple:hover {
    border: 1px solid none;
    background-color: #9379c4;
    color: #fff;
}

.header {
    width: 100%;
    height: 90px;
    background-color: #f3f3f3;
    margin-bottom: 30px;
}

.main {
    margin-bottom: 30px;
}

.footer {
    background-color: #f3f3f3;
    height: 90px;
    margin-top: auto;
}

.footer .footer__list {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center; 
}

.header .nav__list {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note__link {
    max-width: 900px;
    display: block;
    margin-top: 30px;
    text-decoration: none;
}

.note {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.note:hover {
    background-color: #c1b2d8 ;
    transition: .3s;
}

.note__description {
    font-weight: 300;
    font-style: italic;
}

.current_note__description * {
    list-style-type: disc;
    word-wrap: break-word;
}

.paginator {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.paginator__element {
    border: 2px solid #9379c4;
    padding: 3px 12px;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 8px;
}

.paginator__element-inactive {
    border: 2px solid #9379c4;
    padding: 3px 12px;
    border-radius: 6px;
    background-color: #9379c4;
    color: #fff;
    margin-left: 8px;
}

.paginator__element:hover {
    transition: .3s;
    background-color: #9379c4;
    color: #fff;
}

.more {
    margin-left: 9px;
    letter-spacing: 2px;
    color: #9379c4;
}

.note__tags {
    max-width: 50%;
}

.tag__list {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all; 
}

.tag {
    padding: 3px 10px;
    font-size: 14px;
    background-color: rgba(147, 120, 196, 0.3);
    border-radius: 30px;
    margin-left: 3px;
    margin-top: 10px;
    height: fit-content;
}


.tag2 {
    padding: 3px 10px;
    font-size: 14px;
    background-color: rgba(147, 120, 196, 0.3);
    border-radius: 30px;
    /* margin-left: 3px; */

    margin-top: 10px;
    /* height: fit-content; */
}
