<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="header__nav">
          <ul class="nav__list">
            {% if user.is_authenticated %}
                <li class="nav__item"><a href="#">{{ user.username }}</a></li>
                <li class="nav__item">
                    <form method="post" action={% url "logout" %}>
                        {% csrf_token %}
                        <input type="submit" value="Выход" />
                    </form> 
                </li>
            {% else %}
                <li class="nav__item"><a href="{% url "login" %}">Вход</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <div class="container">{% block main %}{% endblock main %}</div>
    </main>
    <footer class="footer">
      <div class="container"></div>
    </footer>
  </body>
</html>
