{% extends "base.html" %}

{% block title %}
Настройка аккаунта
{% endblock title %}

{% block main %}
<p>
    <a href="#">Сменить пароль</a>
</p>
<p>
    <a href="#">Сменить почту</a>
</p>

<h2>Возможности оформления</h2>
<hr>
<p>
    В приложении при типографическом оформлении заметок используется система Markdown. Она позволяет
    оформлять текст с использованием основных элементов вроде жирного начертания, курсива, подчеркивания
    и прочего.  
</p>
<p>
    Также, присутствует возможность создания цитат и кода и заголовков. Знание синтаксиса Markdown - не обязательно,
    поскольку при написании текста используется встроенный редактор, который позволяет создавать оформление кнопками
    редактора.
</p>
<p>
    <code>[link_text](slug:url)</code> - позволяет делать ссылки на другие ваши записи. <code>[toc]</code> - создает
    оглавление записи.
</p>
{% endblock main %}
