{% extends "base.html" %}

{% block title %}
Настройка аккаунта
{% endblock title %}

{% block main %}
{% if request.user.is_verified %}
<p>
    <a href="{% url "change_passwd" %}">Сменить пароль</a>
</p>
{% endif %}

<p>
    <a href="{% url "change_email" %}">Сменить почту</a>
</p>

{% if not request.user.is_verified %}
<p>
    <a style="color: red; font-weight: 700;" href="{% url "email_verify" %}">Подтвердить почту</a>
</p>
{% endif %}

<h2>Возможности оформления</h2>
<hr>
<p>
    В приложении при типографическом оформлении заметок используется система Markdown. Она позволяет
    оформлять текст с использованием основных элементов вроде жирного начертания, курсива, подчеркивания
    и прочего.  
</p>
<p>
    Также, присутствует возможность создания цитат и кода и заголовков. Знание синтаксиса Markdown - не обязательно,
    поскольку при написании текста используется встроенный редактор, который позволяет создавать оформление кнопками
    редактора.
</p>
<p>
    <code>[link_text](slug:url)</code> - позволяет делать ссылки на другие ваши записи. <code>[TOC]</code> - создает
    оглавление записи.
</p>
{% endblock main %}
